{{>header}}

<div class="banner d-flex justify-content-center align-items-center flex-column">
    <div class="container text-center">
        <h1 class="text-white display-2 text-shadow">Hello From Dynamic Website by Amit.</h1>
        <a href="/temp" class="btn btn-outline-light text-shadow box-shadow mt-4 btn-lg">Get Started</a>
    </div>
</div>

<div class="bg-light mb-5">
    <div class="container py-5">
        <div class="display-3 mb-3">
            Temperature
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="images/weather.png" alt="">
            </div>
            <div class="col-md-6">
                <p class="text-justify">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias aspernatur dicta ab impedit voluptas aliquam ipsam rem ratione officia recusandae veritatis, adipisci aut officiis? Rem in laboriosam neque, numquam perferendis vitae itaque. Perferendis explicabo deserunt doloremque illo ad ullam deleniti esse! Eaque reprehenderit sit blanditiis excepturi, libero cupiditate architecto voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, voluptates quo? Mollitia deserunt molestiae neque laudantium hic, nobis ducimus iusto, architecto, similique sit in. Officiis praesentium pariatur sunt est quas numquam ipsum dolorem voluptatem nesciunt quasi quos eaque totam, corporis culpa ratione necessitatibus. Nam repudiandae cumque nostrum nesciunt, repellendus, corporis ad fugiat, porro doloremque debitis ipsam ipsa deleniti. Ad doloribus, vel totam deserunt facere debitis. Mollitia quidem rerum, debitis ullam animi et est possimus consequuntur assumenda tempora alias amet voluptatem eaque corrupti, architecto ea perferendis omnis molestias a aliquid illo expedita? Non, voluptatibus? Blanditiis beatae, earum recusandae pariatur doloremque dolores.
                </p>
                <a href="/temp" class="btn btn-outline-dark btn-lg mt-4">Check Weather</a>
            </div>
        </div>
    </div>
</div>

<div class="container my-4">
    <div class="display-3 pb-3">
        About Us
    </div>
    <div class="row">
        <div class="col-md-6 text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias aspernatur dicta ab impedit voluptas aliquam ipsam rem ratione officia recusandae veritatis, adipisci aut officiis? Rem in laboriosam neque, numquam perferendis vitae itaque. Perferendis explicabo deserunt doloremque illo ad ullam deleniti esse! Eaque reprehenderit sit blanditiis excepturi, libero cupiditate architecto voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, voluptates quo? Mollitia deserunt molestiae neque laudantium hic, nobis ducimus iusto, architecto, similique sit in. Officiis praesentium pariatur sunt est quas numquam ipsum dolorem voluptatem nesciunt quasi quos eaque totam, corporis culpa ratione necessitatibus. Nam repudiandae cumque nostrum nesciunt, repellendus, corporis ad fugiat, porro doloremque debitis ipsam ipsa deleniti. Ad doloribus, vel totam deserunt facere debitis. Mollitia quidem rerum, debitis ullam animi et est possimus consequuntur assumenda tempora alias amet voluptatem eaque corrupti, architecto ea perferendis omnis molestias a aliquid illo expedita? Non, voluptatibus? Blanditiis beatae, earum recusandae pariatur doloremque dolores.</div>
        <div class="col-md-6 text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias aspernatur dicta ab impedit voluptas aliquam ipsam rem ratione officia recusandae veritatis, adipisci aut officiis? Rem in laboriosam neque, numquam perferendis vitae itaque. Perferendis explicabo deserunt doloremque illo ad ullam deleniti esse! Eaque reprehenderit sit blanditiis excepturi, libero cupiditate architecto voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, voluptates quo? Mollitia deserunt molestiae neque laudantium hic, nobis ducimus iusto, architecto, similique sit in. Officiis praesentium pariatur sunt est quas numquam ipsum dolorem voluptatem nesciunt quasi quos eaque totam, corporis culpa ratione necessitatibus. Nam repudiandae cumque nostrum nesciunt, repellendus, corporis ad fugiat, porro doloremque debitis ipsam ipsa deleniti. Ad doloribus, vel totam deserunt facere debitis. Mollitia quidem rerum, debitis ullam animi et est possimus consequuntur assumenda tempora alias amet voluptatem eaque corrupti, architecto ea perferendis omnis molestias a aliquid illo expedita? Non, voluptatibus? Blanditiis beatae, earum recusandae pariatur doloremque dolores.</div>
    </div>
    <a href="/about" class="btn btn-outline-dark btn-lg mt-4">Read More</a>
</div>

{{>footer}}